$font-type: (Roboto);
$font-size: (18px, 30px, 38px, 60px);
$line-height: (1.5, 27px, 45px, 57px, 90px);
$font-weight-global: (normal, bold);
$font-weight-accurate: (100, 200, 300, 400, 500, 600, 700, 800, 900);
$text-transfom: (capitalize, lowercase, uppercase, none);
