@mixin btn {
    .btn {
        display: block;
        box-sizing: border-box;
        height: auto;
        width: inherit;
        text-decoration: none;
        color: white;
        text-align: center;
        text-transform: uppercase;
        border-radius: px-rem(5px);
    }
}

@mixin btn-decoration-green {
    &:hover {
        transition: box-shadow 0.15s;
        box-shadow: inset px-rem(0 0 8px 2px) $green-hover;
    }

    &:active {
        box-shadow: inset px-rem(0 0 8px 4px) $green-hover;
    }
}

@mixin btn-decoration-red {
    &:hover {
        transition: box-shadow 0.15s;
        box-shadow: inset px-rem(0 0 8px 2px) $red-hover;
    }

    &:active {
        box-shadow: inset px-rem(0 0 8px 4px) $red-hover;
    }
}

@mixin btn-decoration-transparent {
    &:hover {
        transition: box-shadow 0.15s;
        box-shadow: inset px-rem(0 0 8px 1px) $white;
    }

    &:active {
        box-shadow: inset px-rem(0 0 8px 4px) $white;
    }
}

@mixin btn-decoration-transparent-orange {
    @include btn-decoration-transparent;
    &:hover + p {
        transition: color 0.15s;
        color: red;
    }
}
