// BUTTON
@mixin btn {
  .btn {
    display: block;
    box-sizing: border-box;
    height: auto;

    color: $white;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    border-radius: px-rem(5px);
    cursor: pointer;
  }
}

@mixin btn-green {
  .btn-green {
    @include btn-decoration-shadow($green-hover, 0.15s);
    width: inherit;
    padding: px-rem(20px 30px);

    line-height: 1rem;

    background-color: $green;
    border: 1px solid $green;
  }
}

@mixin btn-purple {
  .btn-purple {
    @include grid-repeat-rows-columns-position-gap(1, min-content, 2, min-content, flex-start, center, px-rem(16px));
    @include btn-decoration-shadow($purple-hover, 0.15s);
    width: px-rem(200px);
    padding: px-rem(20px 30px);

    background-color: $purple;
    border: 1px solid $purple;

    img {
      width: 20px;

      filter: invert(100%);
    }
  }
}

@mixin btn-red-opt-1 {
  .btn-red-opt-1 {
    @include btn-decoration-shadow($red-hover, 0.15s);
    width: fit-content;
    padding: px-rem(16px 40px);

    text-transform: inherit;

    background-color: $red;
    border: 1px solid $red;
    border-radius: px-rem(32px);
  }
}

@mixin btn-red-opt-2 {
  .btn-red-opt-2 {
    @include grid-repeat-rows-columns-position-gap(1, min-content, 2, min-content, flex-start, center, px-rem(16px));
    @include btn-decoration-shadow($red-hover, 0.15s);
    width: px-rem(200px);
    padding: px-rem(20px 30px);

    background-color: $red;
    border: 1px solid $red;

    img {
      width: 20px;

      filter: invert(100%);
    }
  }
}

@mixin btn-transparent-opt-1 {
  .btn-transparent-opt-1 {
    @include btn-decoration-transparent-orange;
    padding: px-rem(20px 30px);

    border: 1px solid $white;
  }
}

@mixin btn-transparent-opt-2 {
  .btn-transparent-opt-2 {
    @include btn-decoration-shadow($white, 0.15s);
    width: fit-content;
    padding: px-rem(16px 30px);

    color: $dark-gray;

    border: 1px solid $dark-gray;
  }
}

// SHADOW, PSEUDO-CLASS
@mixin btn-decoration-shadow($color, $transition-time) {
  &:hover {
    box-shadow: inset px-rem(0 0 8px 2px) $color;

    transition: box-shadow #{$transition-time};
  }

  &:active {
    box-shadow: inset px-rem(0 0 8px 4px) $color;
  }
}

@mixin btn-decoration-transparent-orange {
  @include btn-decoration-shadow($white, 0.15s);

  &:hover + p {
    color: $orange;

    transition: color 0.15s;
  }
}
