// text-transform
%text-transform-cap {
    text-transform: capitalize;
}
%text-transform-low {
    text-transform: lowercase;
}
%text-transform-upp {
    text-transform: uppercase;
}
%text-transform-inh {
    text-transform: inherit;
}
%text-transform-none {
    text-transform: none;
}