@mixin img-main-greet-part-index {
    background-image: url("../assets/images/banner.png");
    background-position: center;
    background-size: cover;
}

@mixin img-subscription-part-free {
    background-image: url("../assets/images/subscribe_1.png");
    background-position: center;
    background-size: 100%;
}

@mixin img-main-greet-part-artist {
    background-image: url("../assets/images/Morten Harket.png");
    background-position: center;
    background-size: cover;
}
