@mixin greet-part-input-search {
  background-color: $dark;
  border: inherit;
  border-radius: px-rem(50px);
  box-sizing: border-box;
  color: $white;
}

@mixin greet-part-input-main {
  background-color: transparent;
  border-bottom-width: 2px;
  border-color: $dark-gray;
  border-left-width: 2px;
  border-radius: px-rem(3px);
  border-right-width: 2px;
  border-style: solid;
  border-top-width: 2px;
  box-sizing: border-box;
  color: $white;
  font-weight: bold;
  text-align: left;
}
