@mixin greet-part-input-search {
  box-sizing: border-box;

  color: $white;

  background-color: $dark;
  border: inherit;
  border-radius: px-rem(50px);
}

@mixin greet-part-input-main {
  box-sizing: border-box;

  color: $white;
  font-weight: bold;
  text-align: left;

  background-color: transparent;
  border: 2px solid $dark-gray;
  border-radius: px-rem(3px);
}
