@mixin greet-part-input-search {
    box-sizing: border-box;
    background-color: $dark;
    color: $white;
    border: none;
    border-radius: px-rem(50px);
}

@mixin greet-part-input-main {
    box-sizing: border-box;
    font-weight: bold;
    text-align: left;
    color: $white;
    background-color: transparent;
    border: px-rem(2px) solid $dark-gray;
    border-radius: px-rem(3px);
}
