@mixin price-value {
    .price-value {
        font-size: px-rem(64px);
        line-height: 1em;
    }
}

@mixin price-unit {
    .price-unit {
        padding-left: px-rem(16px);
        font-size: px-rem(32px);
        vertical-align: top;
        text-transform: uppercase;
    }
}
