@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../assets/fonts/Roboto-Bold.ttf");
}
html {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #cacaca;
  background-color: #08020d;
}

body,
header,
main,
section,
footer,
section > div {
  width: 100%;
}

body,
main,
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body,
main,
h1,
h2,
h3,
h4 {
  margin: 0;
}

section {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

ul {
  margin: 0;
  padding: 0;
}

h1 {
  color: #ffffff;
  font-size: 3.75rem;
  line-height: 5.625rem;
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  color: #ffffff;
  font-size: 2.375rem;
  line-height: 3.5625rem;
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 2.8125rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h4 {
  color: #ffffff;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
}

.p-0-6875rem {
  font-size: 0.6875rem;
  line-height: 1.5;
}

.p-0-75rem {
  font-size: 0.75rem;
  line-height: 1.5;
}

.p-0-8rem {
  font-size: 0.8rem;
  line-height: 1.5;
}

.p-0-83125rem {
  font-size: 0.83125rem;
  line-height: 1.5;
}

.p-1rem {
  font-size: 1rem;
  line-height: 1.5;
}

.p-1-5rem {
  font-size: 1.5rem;
  line-height: 1.5;
}

.p-1-4375rem {
  font-size: 1.4375rem;
  line-height: 1.5;
}

.p-2-5rem {
  font-size: 2.5rem;
  line-height: 1.5;
}

.p-3rem {
  font-size: 3rem;
  line-height: 1.5;
}

.p-3-5rem {
  font-size: 3.5rem;
  line-height: 1.5;
}

.p-4rem {
  font-size: 4rem;
  line-height: 1.5;
}

.h-3-125rem {
  height: 3.125rem;
}

.min-w-16-875rem {
  min-width: 16.875rem;
}

.max-w-75rem {
  max-width: 75rem;
}

.w-35-625rem {
  width: 35.625rem;
}

.wh-1-5625rem {
  width: 1.5625rem;
  height: 1.5625rem;
}

.wh-15-625rem-1-5625rem {
  width: 15.625rem;
  height: 1.5625rem;
}

.mar-ver-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mar-ver-4rem {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mar-ver-1-875rem-1-5rem {
  margin-top: 1.875rem;
  margin-bottom: 1.5rem;
}

.mar-ver-2-5rem-0 {
  margin-top: 2.5rem;
  margin-bottom: 0;
}

.mar-ver-0-2-5rem {
  margin-top: 0;
  margin-bottom: 2.5rem;
}

.mar-ver-1-5rem-12-5rem {
  margin-top: 1.5rem;
  margin-bottom: 12.5rem;
}

.mar-top-2rem {
  margin-top: 2rem;
}

.mar-bottom-3rem {
  margin-bottom: 3rem;
}

.mar-right-1rem {
  margin-right: 1rem;
}

.mar-right-1-5rem {
  margin-right: 1.5rem;
}

.mar-right-5-5rem {
  margin-right: 5.5rem;
}

.mar-bottom-1-5rem {
  margin-bottom: 1.5rem;
}

.mar-bottom-3rem {
  margin-bottom: 3rem;
}

.mar-bottom-3-125rem {
  margin-bottom: 3.125rem;
}

.mar-bottom-6-25rem {
  margin-bottom: 6.25rem;
}

.pad-gor-0-625rem {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
}

.pad-gor-1-25rem {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.pad-gor-1-5rem {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.pad-ver-2rem {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pad-ver-3rem {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pad-ver-6-25rem {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.pad-ver-12-5rem {
  padding-top: 12.5rem;
  padding-bottom: 12.5rem;
}

.pad-top-6-25rem {
  padding-top: 6.25rem;
}

.no-wrap {
  white-space: nowrap;
}

.price-value {
  font-size: 4rem;
  line-height: 1em;
}

.price-unit {
  padding-left: 1rem;
  font-size: 2rem;
  vertical-align: top;
  text-transform: uppercase;
}

.btn {
  display: block;
  box-sizing: border-box;
  height: auto;
  text-decoration: none;
  color: white;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0.3125rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.btn-green {
  background-color: #34c176;
  border: 1px solid #34c176;
  padding: 1.25rem 1.875rem;
  width: inherit;
}
.btn-green:hover {
  transition: box-shadow 0.15s;
  box-shadow: inset 0 0 0.5rem 0.125rem #0e4226;
}
.btn-green:active {
  box-shadow: inset 0 0 0.5rem 0.25rem #0e4226;
}

.btn-purple {
  display: grid;
  grid-template-rows: repeat(1, min-content);
  grid-template-columns: repeat(2, min-content);
  grid-gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  background-color: #5328a1;
  border: 1px solid #5328a1;
  padding: 1.25rem 1.875rem;
  width: 12.5rem;
}
.btn-purple img {
  width: 20px;
  filter: invert(100%);
}
.btn-purple:hover {
  transition: box-shadow 0.15s;
  box-shadow: inset 0 0 0.5rem 0.125rem #221141;
}
.btn-purple:active {
  box-shadow: inset 0 0 0.5rem 0.25rem #221141;
}

.btn-red-opt-1 {
  padding: 1rem 2.5rem;
  background-color: #95390c;
  width: fit-content;
  border-radius: 2rem;
  text-transform: inherit;
  border: 1px solid #95390c;
}
.btn-red-opt-1:hover {
  transition: box-shadow 0.15s;
  box-shadow: inset 0 0 0.5rem 0.125rem #301304;
}
.btn-red-opt-1:active {
  box-shadow: inset 0 0 0.5rem 0.25rem #301304;
}

.btn-red-opt-2 {
  display: grid;
  grid-template-rows: repeat(1, min-content);
  grid-template-columns: repeat(2, min-content);
  grid-gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  background-color: #95390c;
  border: 1px solid #95390c;
  padding: 1.25rem 1.875rem;
  width: 12.5rem;
}
.btn-red-opt-2 img {
  width: 20px;
  filter: invert(100%);
}
.btn-red-opt-2:hover {
  transition: box-shadow 0.15s;
  box-shadow: inset 0 0 0.5rem 0.125rem #301304;
}
.btn-red-opt-2:active {
  box-shadow: inset 0 0 0.5rem 0.25rem #301304;
}

.btn-transparent-opt-1 {
  border: 1px solid #ffffff;
  padding: 1.25rem 1.875rem;
}
.btn-transparent-opt-1:hover {
  transition: box-shadow 0.15s;
  box-shadow: inset 0 0 0.5rem 0.125rem #ffffff;
}
.btn-transparent-opt-1:active {
  box-shadow: inset 0 0 0.5rem 0.25rem #ffffff;
}
.btn-transparent-opt-1:hover + p {
  transition: color 0.15s;
  color: #f89202;
}

.btn-transparent-opt-2 {
  padding: 1rem 1.875rem;
  border: 1px solid #cacaca;
  width: fit-content;
  color: #cacaca;
}
.btn-transparent-opt-2:hover {
  transition: box-shadow 0.15s;
  box-shadow: inset 0 0 0.5rem 0.125rem #ffffff;
}
.btn-transparent-opt-2:active {
  box-shadow: inset 0 0 0.5rem 0.25rem #ffffff;
}

.bg-index {
  background-image: url("../assets/images/banner.png");
  background-position: center;
  background-size: cover;
}

.bg-artist {
  background-image: url("../assets/images/Morten Harket.png");
  background-position: center;
  background-size: cover;
}

.img-subscribe-first {
  background-image: url("../assets/images/subscribe_1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.img-subscribe-second {
  background-image: url("../assets/images/subscribe_2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.img-subscribe-third {
  background-image: url("../assets/images/subscribe_3.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.relative {
  position: relative;
}

.greet-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.greet-part h1,
.greet-part h2,
.greet-part > p {
  width: inherit;
  text-align: center;
}
.greet-part form {
  max-width: 35.625rem;
  width: 100%;
}
.greet-part-top {
  position: absolute;
  padding-top: 1.5625rem;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.greet-part-top-left {
  display: grid;
  grid-template-rows: repeat(1, min-content);
  grid-template-columns: repeat(2, auto);
  grid-gap: 5.625rem;
  justify-content: flex-start;
  align-items: center;
}
.greet-part-top-left p,
.greet-part-top-left a,
.greet-part-top-left ul {
  font-size: 0.6875rem;
}
.greet-part-top-left-logo {
  display: grid;
  grid-template-rows: repeat(1, auto);
  grid-template-columns: repeat(2, min-content);
  grid-gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}
.greet-part-top-left-logo p {
  text-transform: uppercase;
  white-space: nowrap;
  margin: 0;
}
.greet-part-top-left ul {
  display: grid;
  grid-template-rows: repeat(1, auto);
  grid-template-columns: repeat(4, min-content);
  grid-gap: 1.5rem;
  justify-content: flex-start;
  align-items: center;
}
.greet-part-top-left ul li {
  list-style-type: none;
}
.greet-part-top-left ul li a {
  text-transform: uppercase;
  color: #cacaca;
  text-decoration: none;
}
.greet-part-top-left ul li .hover {
  color: #ffffff;
}
.greet-part-top-left ul:hover li a:hover {
  color: #ffffff;
}
.greet-part-top-left ul:hover li a:not(:hover) {
  color: inherit;
}
.greet-part-top-right input {
  box-sizing: border-box;
  background-color: #3c3b3d;
  color: #ffffff;
  border: none;
  border-radius: 3.125rem;
}
.greet-part-top-right input::placeholder {
  text-transform: uppercase;
  font-size: 0.83125rem;
  color: #757575;
}
.greet-part-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.greet-part-form-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: inherit;
}
.greet-part-form-top input {
  box-sizing: border-box;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  background-color: transparent;
  border: 0.125rem solid #cacaca;
  border-radius: 0.1875rem;
}
.greet-part-form-top input::placeholder {
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: bold;
}

.greet-artist h1,
.greet-artist h2,
.greet-artist > p {
  width: inherit;
  text-align: left;
}
.greet-artist-buttons {
  display: grid;
  grid-template-rows: repeat(1, min-content);
  grid-template-columns: repeat(2, min-content);
  grid-gap: 1.5rem;
  justify-content: flex-start;
  align-items: center;
}

.subscription-part {
  color: white;
}
.subscription-part p,
.subscription-part h2 {
  text-align: center;
}
.subscription-part h3 {
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
}
.subscription-part-option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  width: 100%;
}
.subscription-part-option-card {
  display: grid;
  grid-template-rows: repeat(4, auto);
  justify-content: center;
  align-items: flex-start;
  border-radius: 1.125rem;
  width: 23.0625rem;
  box-sizing: border-box;
}

.news-part img {
  width: inherit;
}
.news-part h2 {
  text-align: center;
}
.news-part h3 {
  text-transform: capitalize;
}
.news-part-index {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 4.0625rem;
}
.news-part-index-first, .news-part-index-second {
  display: grid;
  grid-template-rows: repeat(1, auto);
  grid-template-columns: repeat(2, auto);
  grid-gap: 3.125rem;
}
.news-part-index-first-content-footer-author, .news-part-index-second-content-footer-author {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-column-gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
}
.news-part-index-first-content-footer-author > p:nth-child(2), .news-part-index-second-content-footer-author > p:nth-child(2) {
  text-transform: uppercase;
  color: #f89202;
}
.news-part-index-first-content-footer-author *, .news-part-index-second-content-footer-author * {
  margin: 0;
}

.mobile-app img {
  margin: 0 auto;
}
.mobile-app h2 {
  text-align: center;
}
.mobile-app-index {
  display: grid;
  grid-template-rows: repeat(1, auto);
  grid-template-columns: repeat(2, 50%);
}
.mobile-app-index-content * {
  text-align: left;
}

.footer h2 {
  font-size: 1.125rem;
  line-height: 1.6875rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.footer a,
.footer p {
  color: #e0e0e0;
  margin: 0;
  text-decoration: none;
}
.footer-top, .footer-bottom {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-top {
  border-bottom: 1px solid #cacaca;
}
.footer-top-content {
  display: grid;
  grid-template-rows: repeat(1, auto);
  grid-template-columns: repeat(4, auto);
  grid-gap: 40px;
  width: 100%;
  box-sizing: border-box;
}
.footer-top-content-author, .footer-top-content-support {
  display: grid;
  grid-template-rows: repeat(5, min-content);
  grid-template-columns: repeat(1, auto);
}
.footer-top-content-link {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-template-columns: repeat(1, auto);
}
.footer-top-content-subscrabe {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: repeat(1, auto);
}
.footer-top-content-subscrabe-icon {
  display: grid;
  grid-template-rows: repeat(1, auto);
  grid-template-columns: repeat(4, min-content);
  grid-gap: 1.5rem;
  justify-content: flex-start;
  align-items: center;
}
.footer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.footer-bottom-content {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(1, auto);
  grid-template-columns: repeat(5, min-content);
  grid-gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.track-list h3,
.discography-list h3,
.artist-list h3 {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
}
.track-list p,
.discography-list p,
.artist-list p {
  margin: 0;
  color: #e0e0e0;
}

.track-list h3,
.track-list p {
  font-size: 0.8rem;
  line-height: 1.2rem;
  white-space: nowrap;
}
.track-list h3 {
  text-transform: uppercase;
}
.track-list img {
  height: 3.4375rem;
}
.track-list-body {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(2, auto);
  grid-row-gap: 25px;
  grid-column-gap: 50px;
  width: inherit;
}
.track-list-body-position {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 34.0625rem;
}
.track-list-body-position-left {
  display: grid;
  grid-template-rows: repeat(1, auto);
  grid-template-columns: repeat(2, auto);
  grid-gap: 0.9375rem;
  justify-content: flex-start;
  align-items: center;
}
.track-list-body-position-left-name {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: repeat(1, min-content);
}

.discography-list h3,
.artist-list h3 {
  font-size: 1.125rem;
  line-height: 1.6875rem;
}
.discography-list img,
.artist-list img {
  width: 15.625rem;
}
.discography-list-body,
.artist-list-body {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(4, auto);
  grid-row-gap: 1.5625rem;
  grid-column-gap: 3.125rem;
  justify-content: flex-start;
  align-items: flex-start;
  width: inherit;
}
.discography-list-body-position,
.artist-list-body-position {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(1, min-content);
  grid-gap: 1.125rem;
}

.artist-list h3,
.artist-list p {
  text-align: center;
}

@media screen and (max-width: 1240px) {
  h1 {
    color: #ffffff;
    font-size: 1.875rem;
    line-height: 2.8125rem;
    font-family: "Roboto-Bold", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
  }

  h2 {
    color: #ffffff;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
  }

  h3 {
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }

  h4 {
    color: #ffffff;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }

  header,
section {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .greet-part {
    padding-top: 3.125rem;
  }
  .greet-part-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .greet-part-top-left {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: repeat(1, auto);
    grid-gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1rem;
  }
  .greet-part-top-left p {
    margin-right: 0;
  }
  .greet-part-top-left ul {
    display: grid;
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: repeat(1, auto);
    grid-gap: 0;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .greet-part-top-right {
    width: 100%;
  }
  .greet-part-top-right input {
    width: 100%;
  }
  .greet-part p {
    margin-top: 1rem;
  }
  .greet-part-form {
    width: 100%;
  }
  .greet-part-form-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .greet-part-form-top input {
    width: 100%;
    min-width: 6.875rem;
    max-width: 50rem;
  }

  .greet-artist-buttons {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: repeat(1, min-content);
    grid-gap: 1.5rem;
    justify-content: flex-start;
    align-items: center;
  }

  .subscription-part-option {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: inherit;
  }
  .subscription-part-option-card {
    height: 37.1875rem;
    overflow-y: hidden;
    width: 23.375rem;
  }
  .subscription-part-option-card:nth-child(-n+2) {
    margin-bottom: 3.125rem;
  }
  .subscription-part-option-card h3 {
    margin-top: 1rem;
  }

  .news-part-index-first, .news-part-index-second {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(1, auto);
    grid-gap: 3.125rem;
    align-items: center;
  }
  .news-part-index-first > img, .news-part-index-second > img {
    width: 100%;
  }
  .news-part-index-first-content-top p, .news-part-index-second-content-top p {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  .news-part-index-second > img {
    order: 1;
  }
  .news-part-index-second-content {
    order: 2;
  }

  .mobile-app-index {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(1, auto);
  }
  .mobile-app-index img {
    order: 1;
  }
  .mobile-app-index-content {
    order: 2;
  }

  .footer-top-content, .footer-bottom-content {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    max-width: 53.125rem;
  }
  .footer-top {
    padding: 3.875rem 0;
  }
  .footer-top-content {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(1, auto);
    grid-gap: 1.875rem;
  }
  .footer-bottom {
    padding: 3rem 0;
  }
  .footer-bottom-content {
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(1, auto);
    grid-gap: 1rem;
  }

  .track-list-body {
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: repeat(1, auto);
  }
  .track-list-body-position {
    max-width: none;
  }

  .discography-list img,
.artist-list img {
    width: 8.5625rem;
  }
  .discography-list-body,
.artist-list-body {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, auto);
  }
}

/*# sourceMappingURL=style.css.map */
