@import "variables.scss";

@mixin button($name, $width, $height, $radius, $col, $col-bg-1, $col-bg-2) {
    .btn-#{$name} {
        width: #{$width};
        height: #{$height};
        border-radius: #{$radius};
        background-color: #{$col-bg-1};
        color: #{$col};
        border: none;


        &:hover {
            transition: box-shadow 0.15s;
            box-shadow: inset 0 0 4px 4px #{$col-bg-2};
        }

        &:active {
            background-color: #{$col-bg-2};
        }
    }
}