

// font-weight from 100, 200, ... up to 900
@mixin font-weight-fixed($intitial-value, $step, $final-value) {
    @while $intitial-value <= $final-value {
        %font-weight-#{$intitial-value} {
            font-weight: #{$intitial-value};
        }
        $intitial-value: $intitial-value + $step;
    }
}

@mixin paragraphs-fixed($font-size, $small-size-denominator, $step, $final-font-size, $unit) {
    $small-font-size: $font-size / $small-size-denominator;
    .p-#{round($small-font-size)} {
        font-size: #{$small-font-size}#{$unit};
    }
    @while $font-size <= $final-font-size {
        .p-#{round($font-size)} {
            font-size: #{$font-size}#{$unit};
        }
        
        $font-size: $font-size + $step;
    }
}

@mixin paragraphs-random ($font-size, $unit) {
    .p-#{round($font-size)}-r {
            font-size: #{$font-size}#{$unit};
    }   
}

// text-transform
%text-transform-cap {
    text-transform: capitalize;
}
%text-transform-low {
    text-transform: lowercase;
}
%text-transform-upp {
    text-transform: uppercase;
}
%text-transform-inh {
    text-transform: inherit;
}
%text-transform-none {
    text-transform: none;
}

