@function px-rem($values) {
  $result: ();

  @each $value in $values {
    @if $value == 0 {
      $result: append($result, 0);
    } @else {
      $result: append($result, (($value / $rem) * 1rem));
    }
  }

  @return #{$result};
}

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + (str-slice($string, $index + str-length($search)),
    $search, $replace);
  }

  @return $string;
}

@function rem-selector-name($string, $search: ".", $replace: "-") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)),
    $search, $replace);
  }

  @return $string;
}
