@function px-rem($values) {
    $result: ();

    @each $value in $values {
        @if $value == 0 {
            $result: append($result, 0);
        } @else {
            $result: append($result, (($value / $rem) * 1rem));
        }
    }

    @return #{$result};
}

@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}
