@media screen and (max-width: 1240px) {
    @include heading-set(h1, px, 30, 45, bold, uppercase);
    @include heading-set(h2, px, 18, 27, bold, uppercase);
    @include heading-set(h3, px, 16, 24, bold);
    @include heading-set(h4, px, 18, 24, bold);

    .greet-part {
        width: 100vw;
        
        &-top {
            @include flex-column-flex-start-flex-start;
            padding-left: 20px;
            padding-right: 20px;
            max-width: 700px;

            &-left {
                @include flex-column-flex-start-flex-start;

                &-logo-name {
                    margin-right: 0;
                }

                &-menu {
                    @include flex-column-flex-start-flex-start;
                    @include mar-ver-1;
                }
            }

            &-rihgt {
                width: 100%;

                * {
                    width: 100%;
                }
            }
        }

        &-body {
            padding-top: 250px;
            padding-left: 20px;
            padding-right: 20px;
            max-width: 700px;
            
            &-descr {
                margin-top: 16px;
            }

            &-form {
                width: 100%;

                &-top {
                    @include flex-column-flex-start-center;

                    &-name, &-email {
                        width: 100%;
                        min-width: 110px;
                        max-width: 600px;
                    }
                }

                &-button {
                    width: inherit;
                }
            }
        }
    }
}