@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
}

@include html("Roboto", sans-serif, 18, 1.5, $black, $dark-gray, px);

body {
    @include flex-column-flex-start-center;
}

body,
h1,
h2,
h3,
h4 {
    margin: 0;
}

@include heading-set(h1, px, 60, 90, bold, uppercase);
@include heading-set(h2, px, 38, 57, bold, uppercase);
@include heading-set(h3, px, 24, 45);
@include heading-set(h4, px, 18, 27, bold);

@include font-weight-fixed(100, 100, 900);
@include paragraphs-random(11, px);
@include paragraphs-random(13.3, px);
@include paragraphs-fixed(16, 1.25, 8, 64, px);

@include height(px, 50);
@include width(px, 270, min);
@include width(px, 1200, max);
@include width(px, 570);
@include width-height(px, 25, 25);
@include width-height(px, 250, 25);

@include mar-gor(20, 20, px);
@include mar-ver(0, 0, px);
@include mar-side(right, 24, px);
@include mar-side(right, 88, px);
@include mar-side(right, 16, px);
@include mar-side(top, 32, px);
@include mar-side(bottom, 1.5, rem);

@include pad-side(left, 10, px);
@include pad-gor(20, 20, px);
@include pad-gor(30, 30, px);
@include pad-ver(200, 200, px);
@include pad-ver(20, 20, px);

.greet-part {
    position: relative;
    @include flex-column-flex-start-center;
    width: 100%;

    &::before {
        position: absolute;
        @include bg-positioning;
        @include img-main-greet-part;
        z-index: 0;
        content: '';
    }

    &-top {
        position: absolute;
        padding-top: 25px;
        left: 0;
        right: 0;
        margin: 0 auto;
        @include flex-row-space-between-center;
        z-index: 200;

        &-left {
            @include flex-row-flex-start-center;

            &-logo {
                @include flex-row-flex-start-center;

                &-name {
                    display: block;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: $white;
                }
            }

            &-menu {
                @include flex-row-flex-start;

                * {
                    display: block;
                    text-transform: uppercase;
                    color: $dark-gray;
                    text-decoration: none;
                    font-weight: bold;

                    &:hover,
                    &:focus,
                    &:active {
                        color: $white;
                    }
                }
            }
        }

        &-rihgt-search {
            @include flex-row-flex-start-center;
            box-sizing: border-box;
            background-color: $dark;
            color: $white;
            border: none;
            border-radius: 50px;


            &::placeholder {
                text-transform: uppercase;
                font-size: 13.3px;
                color: $gray-placeholder;
            }
        }
    }

    &-body {
        position: relative;
        @include flex-column-flex-start-center;
        z-index: 100;

        &-prim-head,
        &-sec-head,
        &-descr {
            color: $white;
            width: 100%;
            text-align: center;
        }

        &-form {
            @include flex-column-flex-start-center;

            &-top {
                @include flex-row-space-between-center;
                width: inherit;

                &-name,
                &-email {
                    box-sizing: border-box;
                    font-weight: bold;
                    text-align: center;
                    color: $white;
                    background-color: transparent;
                    border: 2px solid $dark-gray;
                    border-radius: 3px;

                    &::placeholder {
                        color: $white;
                        font-size: 14px;
                        font-weight: bold;
                    }
                }
            }

            &-button {
                @include greet-part-btn;
                text-transform: uppercase;
            }
        }
    }
}