@import "variables.scss";

@mixin grid-fr($rows-value, $rows-amount, $columns-value, $columns-amount) {
    .grid-fr-#{$rows-value}-#{$columns-value} {
        display: grid;
        grid-template-rows: repeat(#{$rows-amount}, #{$rows-value}fr);
        grid-template-columns: repeat(#{$columns-amount}, #{$columns-value}fr);
    }
}
