@import "variables.scss";
@import "image-function.scss";
@import "image-mixin.scss";

%img-main-greet-part {
    background-image: url('../assets/images/banner.png');
    background-position: center;
    background-size: cover;
}

%bg-positioning {
    top: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 100%;
    margin: 0 auto;
}
