@import "variables.scss";

@mixin media($heading-type, $unit, $font-size, $line-height, $font-weight: null, $text-transfom: null) {
    @if $text-transfom == "null" and $font-weight == "null" {
        #{$heading-type} {
            font-size: #{$font-size}#{$unit};
            line-height: #{$line-height}#{$unit};
        }
    }

    @if $text-transfom != "null" and $font-weight == "null" {
        #{$heading-type} {
            font-size: #{$font-size}#{$unit};
            line-height: #{$line-height}#{$unit};
            text-transform: #{$text-transfom};
        }
    }

    @if $text-transfom == "null" and $font-weight != "null" {
        #{$heading-type} {
            font-size: #{$font-size}#{$unit};
            line-height: #{$line-height}#{$unit};
            font-weight: #{$font-weight};
        }
    }

    @else {
        #{$heading-type} {
            font-size: #{$font-size}#{$unit};
            line-height: #{$line-height}#{$unit};
            font-weight: #{$font-weight};
            text-transform: #{$text-transfom};
        }
    }
}