@import "variables.scss";

@mixin width($width-value) {
    .w-#{$width-value} {
        width: #{$width-value}px;
    }
}

@mixin width-height($width-value, $height-value) {
    .wh-#{$width-value}-#{$height-value} {
        width: #{$width-value}px;
        height: #{$height-value}px;
    }
}

%box-sizing-con {
    box-sizing: content-box;
}

%box-sizing-bor {
    box-sizing: border-box;
}

%box-sizing-pad {
    box-sizing: padding-box;
}

%box-sizing-inh {
    box-sizing: inherit;
}

%width-inh {
    width: inherit;
}