@import "variables.scss";

@mixin width($unit, $width, $min-max: null) {
    @if $min-max == null {
        .w-#{round($width)} {
            width: #{$width}#{$unit};
        }
    }
    @else {
        .#{$min-max}-w-#{round($width)} {
            #{$min-max}-width: #{$width}#{$unit};
        }
    }
}

@mixin width-height($unit, $width, $height) {
    @if $width==$height {
        .wh-#{$width} {
            width: #{$width}#{$unit};
            height: #{$height}#{$unit};
        }
    }

    @else {
        .wh-#{$width}-#{$height} {
            width: #{$width}#{$unit};
            height: #{$height}#{$unit};
        }
    }
}
