@import "variables.scss";
@import "size-function.scss";
@import "size-mixin.scss";

%box-sizing-con {
    box-sizing: content-box;
}

%box-sizing-bor {
    box-sizing: border-box;
}

%box-sizing-pad {
    box-sizing: padding-box;
}

%box-sizing-inh {
    box-sizing: inherit;
}

%width-inh {
    width: inherit;
}
