$white: #fff;
$black: #08020d;
$gray: #e0e0e0;
$dark-gray: #cacaca;
$dark: #3c3b3d;
$green: #34c176;
$green-hover: #0e4226;
$orange: #f89202;
$purple: #5328a1;
$purple-hover: #221141;
$red: #95390c;
$red-hover: #301304;
$gray-placeholder: #757575;

$rem: 16px;

$font-size: px-rem(11px), px-rem(12px), px-rem(12.8px), px-rem(13.3px), px-rem(16px), px-rem(24px),
  px-rem(23px), px-rem(40px), px-rem(48px), px-rem(56px), px-rem(64px);
