$font-size-value: (value-mobile-h1: 18px, value-mobile-h2: 30px, value-pc-h1: 38px, value-pc-h2: 60px);
$line-height-value: (value-mobile-h1: 27px, value-mobile-h2: 45px, value-pc-h1: 57px, value-pc-h2: 90px);
$font-weight-global: (normal, bold);
$font-weight-accurate: (100, 200, 300, 400, 500, 600, 700, 800, 900);
$text-transfom: (capitalize, lowercase, uppercase, none);

$black: #08020D;
$gray: #E0E0E0;
$dark-gray: #CACACA;
$dark: #3C3B3D;
$green: #34C176;
$orange: #F89202;
$purple: #5328A1;
$red: #95390C;

